{% extends "admin/change_form.html" %}
{% load i18n %}

{% block object-tools-items %}
<li><a href="history/">{% trans "History" %}</a></li>
{% comment %}
This button is only rendered if the user has permission for generating permissions and if the status is not incomplete nor special.
{% endcomment %}
{% if perms.signup.generate_permission and not original.permission_status == original.INCOMPLETE and not original.permission_status == original.SPECIAL %}
<li>
    <a href="{{original.get_absolute_url}}" class="grp-state-focus" target="_blank">{% trans "Generate Permission" %}</a>
</li>
{% endif %}
{% endblock %}
