appdirs==1.4.3
asn1crypto==0.22.0
cffi==1.10.0
cryptography==1.8.1
diff-match-patch==20121119
Django==1.11.3
django-debug-toolbar==1.8
django-grappelli==2.10.1
django-import-export==0.5.1
django-logentry-admin==1.0.2
-e git+https://gitlab.com/jerivas/django-siterelated.git@8e87cc36e76f11a8907cabc1fdf57567315f0a5b#egg=django_siterelated
-e git+https://github.com/jerivas/django-solo.git@30b7b53c0cc894960282be7bbc74a18d69d5df15#egg=django_solo
ecdsa==0.13
enum34==1.1.6
Fabric==1.13.2
future==0.12.3
html5lib==0.99999
idna==2.5
ipaddress==1.0.18
olefile==0.44
packaging==16.8
paramiko==2.1.2
Pillow==4.1.1
psycopg2==2.7.1
pyasn1==0.2.3
pycparser==2.17
pycrypto==2.6.1
pyparsing==2.2.0
pyPdf==1.13
PyPDF2==1.26.0
pytz==2017.2
reportlab==3.4.0
six==1.10.0
sqlparse==0.2.3
tablib==0.11.4
xhtml2pdf==0.0.6
