{% extends "admin/change_list.html" %}
{% load i18n %}

{% block object-tools-items %}
{{ block.super }}
{% comment %}
These buttons are only rendered if the user has permission for generating bus and cabin reports.
{% endcomment %}
{% if perms.logistics.view_reports %}
<li>
    <a href="{% url 'cabin_report' %}" class="grp-viewsite-link">{% trans "Cabin Report" %}</a>
</li>
<li>
    <a href="{% url 'bus_report' %}" class="grp-viewsite-link">{% trans "Bus Report" %}</a>
</li>
{% endif %}
{% endblock %}
