{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_modify admin_urls %}

{% if not is_popup %}
{% block breadcrumbs %}
<ul>
	<li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
	<li><a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_label|capfirst|escape }}</a></li>
	<li><a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a></li>
	<li>{% block breadcrumbs_last %}{% endblock %}</li>
</ul>
{% endblock %}
{% endif %}
